.list-1 {
  .list-item {
    .list-item-inner {
      border-radius: 0.4rem;
      box-shadow: 0 0 0.1rem #333;
      display: grid;
      gap: 1.6rem;
      grid-template-columns: 6rem 1fr;
      padding: 1.6rem;

      .imgBox {
        border: 0.2rem solid var(--c-primary);
        border-radius: 99rem;
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
          border: 0.2rem solid #fff;
          border-radius: 99rem;
          height: 100%;
          width: 100%;
          object-fit: contain;
          overflow: hidden;
        }
      }
      .txtBox {
        > *:not(:last-child) {
          margin-bottom: 0.4rem;
        }
        .title {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }
  }
}
